<h1 mat-dialog-title>Compartir lista</h1>
    <mat-dialog-content>
      <p>{{data.message}}</p>
      <mat-form-field>
      <mat-select placeholder="Usuario">
        <mat-option *ngFor="let user of users;" [value]="user.email">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="dialogRef.close(false)">Cancelar</button>
      <button mat-button (click)="dialogRef.close(true)">Compartir</button>
    </mat-dialog-actions>
  

