<h1 mat-dialog-title>Compartir lista</h1>
    <mat-dialog-content>
      <p>{{data.message}}</p>
      {{data.listId}}
     <p>Se ha compartido con los siguientes usuarios:</p>
     <ul>
       <li *ngFor="let user of users;">
       {{user.name}}
       </li>
     </ul>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="dialogRef.close(false)">Cancelar</button>
      <button mat-button (click)="dialogRef.close(true)">Compartir</button>
    </mat-dialog-actions>
  

