<mat-sidenav-container>
  
    <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a>
          <a mat-list-item target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
          <a mat-list-item target="_blank" href="https://blog.angular.io/">Angular blog</a>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-toolbar color="primary">
        <mat-toolbar-row>
                
        <button type="button" mat-button (click)="sidenav.open()">
            <mat-icon mat-list-icon>menu</mat-icon> Menu
        </button>
        <span class="example-spacer"></span>
        <h1 id="logo">dpsPantry</h1>
        </mat-toolbar-row>
    </mat-toolbar>
  
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>

