<mat-sidenav-container>
  
    <mat-sidenav #sidenav>
        <mat-nav-list>
          <a *ngIf="!identity" mat-list-item [routerLink]="['/login']" (click)="sidenav.toggle()">Login</a>
          <a *ngIf="identity" mat-list-item>Hola {{identity.name}}!</a>
          <a *ngIf="identity" mat-list-item (click)="logout()" (click)="sidenav.toggle()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-toolbar id="header-toolbar" color="primary">
        <mat-toolbar-row>    
            <button type="button" mat-button (click)="sidenav.open()">
                <mat-icon mat-list-icon>menu</mat-icon> Menu
            </button>
            <span class="example-spacer"></span>
            <h1 id="logo">dpsPantry</h1>
        </mat-toolbar-row>
    </mat-toolbar>
  
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container>

