<mat-list>
  <div *ngFor="let list of lists; let i = index" class="item">
  <mat-list-item   >
      <mat-icon mat-list-icon [routerLink]="['/list/',list._id]">folder</mat-icon>
      <h4 mat-line [routerLink]="['/list/',list._id]">{{list.name}}</h4>
      <p mat-line [routerLink]="['/list/',list._id]">{{list.elements}} elementos</p>
      <button mat-icon-button color="primary" (click)="shareList(list._id,i)">
        <mat-icon>share</mat-icon>
      </button>&nbsp;
      <button mat-icon-button color="primary" (click)="deleteList(list._id,i)">
          <mat-icon>delete</mat-icon>
      </button>&nbsp;
      
  </mat-list-item>
</div>
<div *ngFor="let sharedlist of sharedlists; let i = index" class="item">
  <mat-list-item   >
      <mat-icon mat-list-icon [routerLink]="['/list/',sharedlist._id]">folder_shared</mat-icon>
      <h4 mat-line [routerLink]="['/list/',sharedlist._id]">{{sharedlist.name}}</h4>
      <p mat-line [routerLink]="['/list/',sharedlist._id]">{{sharedlist.elements}} elementos</p>
      <button mat-icon-button color="primary" (click)="deleteList(sharedlist._id,i)">
          <mat-icon>delete</mat-icon>
      </button>&nbsp;      
  </mat-list-item>
</div>
</mat-list>
<button mat-fab color="primary" class="floating-button" [routerLink]="['/addlist']">
  <mat-icon>add</mat-icon>
</button>