<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-6 ">
              
      <form #addListForm="ngForm" class="addlist" (keyup.enter)="onClick()">
        <h1>Crear lista</h1>
        <mat-form-field>
          <input name="name" matInput placeholder="Nombre de la lista" [(ngModel)]="list.name" required>
        </mat-form-field>

        <button mat-raised-button color="primary" (click) = "onClick()" [disabled]="!addListForm.form.valid" >Crear</button> 
      </form>
</div>
</div>