<mat-list>
  <h3 mat-subheader><mat-icon mat-list-icon (click)="goBack()">arrow_back_ios</mat-icon> {{listName}}</h3>
  <mat-list-item *ngFor="let item of items; let i = index">
      <mat-icon mat-list-icon>navigate_next</mat-icon>

      <h4 mat-line [class.toReplenish]="item.quantity<item.minimum">{{item.name}}</h4>
      <p mat-line [class.toReplenish]="item.quantity<item.minimum">       

        
         {{item.quantity}} {{item.unit}}
         
      </p>
      <button mat-icon-button color="primary" (click)="addQuantity(item._id,i)">
          <mat-icon>add</mat-icon>
       </button>&nbsp;
      <button mat-icon-button color="primary" (click)="removeQuantity(item._id,i)">
          <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteItem(item._id,i)">
          <mat-icon>delete</mat-icon>
      </button>
  </mat-list-item>

</mat-list>
<button mat-fab color="primary" class="floating-button" [routerLink]="['/additem', listId]">
  <mat-icon>add</mat-icon>
</button>