h3{
    font-size: 30px !important;
}

.toReplenish{
    color: rgb(184, 59, 59);
}


.search{    
    padding: 1px 10px 0px 10px;
    margin: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px 1px rgb(223, 223, 223);
}

.search input{
    padding: 10px;
    padding-left: 10px;
    border: none;
    width: 90%;
}

.search mat-icon{
    margin-top: 10px;
    display: block !important;
    float: left;
}


