
<div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-4 ">        
        <div class="login" >
          <mat-form-field>
            <input matInput placeholder="Usuario" [(ngModel)]="user.name">
          </mat-form-field>

          <mat-form-field>
             <input type="password" matInput placeholder="Password">
          </mat-form-field>
          <button mat-raised-button color="primary" (click) = "onClick()">Entrar</button> 
      </div>
</div>
</div>