<div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6 ">
                
        <form #addListForm="ngForm" class="additem" (keyup.enter)="onClick(addListForm)">
          <h1><mat-icon mat-list-icon (click)="goBack()">arrow_back_ios</mat-icon>Nuevo item</h1>
          <mat-form-field>
            <input name="name" matInput placeholder="Nombre de la lista" [(ngModel)]="item.name" required>
          </mat-form-field>

          <mat-form-field>
            <input name="quantity" matInput type="number" placeholder="Cantidad" [(ngModel)]="item.quantity" required>
          </mat-form-field>

          <mat-form-field>
            <input name="minimum" matInput type="number" placeholder="Cantidad mínima" [(ngModel)]="item.minimum" required>
          </mat-form-field>

          <mat-form-field>
            <input name="unit" matInput placeholder="Unidades" [(ngModel)]="item.unit" required>
          </mat-form-field>

          <mat-form-field>
            <input name="notes" matInput placeholder="Notas" [(ngModel)]="item.notes">
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click) = "onClick(addListForm)" [disabled]="!addListForm.form.valid" >Crear</button> 
        </form>
  </div>
  </div>